.flicker-4 {
  animation: flicker-4 3s ease-in-out both;
}

.scene {
  perspective: 760px;
}

.card {
  transition: transform 2s;
  transform-style: preserve-3d;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  z-index: 10;
}

.card__face--back {
  z-index: 20;
  transform: rotateY(180deg);
}

.text-pop-up-top {
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
