@tailwind base;

/* Write your own custom base styles here */
body {
  @apply bg-primary-dark text-primary-light;
  min-width: 320px;
}

.section > div {
  /* border: 1px solid green; */
  height: calc(100vh - 110px) !important;
  display: flex;
  margin-top: 110px;
}

/* Start purging... */
@tailwind components;

.container {
  max-width: 1600px;
}

/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
